<%= form_for @quote, style: "margin-bottom: 25px;" do |f| %>
  <h1>Request a Quote</h1>
  <div class="form-group">
    <%= label_tag :name, "Name (required)" %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :email, "Email (required)" %>
    <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :phone, "Phone (required)" %>
    <%= f.text_field :phone, placeholder: "Phone", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :address, "Address" %>
    <%= f.text_field :address, placeholder: "Address, City, State, Zip", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :notes, "Notes" %>
    <%= f.text_area :notes, placeholder: "Additional Notes (Optional)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :verification, "What gem is our company named after?" %>
    <%= text_field_tag :verification, nil, class: "form-control", placeholder: "Hint: It's in the name." %>
  </div>
  <div class="form-group">
    <%= submit_tag "Send", class: "btn btn-primary" %>
  </div>
<% end %>