<!DOCTYPE html>
<html>
<head>
  <title>Emerald Pest Control</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <meta name="author" content="Mark Meacham" />
  <%= favicon_link_tag "favicon.png", type: "image/png" %>
</head>
<body>
<%= render "/layouts/dashboard_header" %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
